ul.no-bullets {
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

button.page-selected {
    background-color: darkslategray;
}

button.final-page {
    background-color: slategrey;
    border-radius: 2px 15px 15px 2px;
}

button.first-page {
    background-color: slategrey;
    border-radius: 15px 2px 2px 15px;
}

.drop-down {
    border-radius: 8px;

    padding: 0.1em .5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}