.popout-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popout-body {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    color: black;
}

.popout-close {
    position: absolute;
    padding-top: .2em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .2em;
    top: 10px;
    right: 10px;
    background: none;
    font-weight: bold;
    background-color: darkgray;
    border: solid;
    border-color: black;
    font-size: 12px;
    cursor: pointer;
    color: black;
}

#table-button:hover {
    background-color: darkslategray;
}

#table-row:hover {
    background-color: lightslategray;
}

#add-button {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.5em;
    margin-left: 5em;
    text-align: center;
    border-radius: 100%;
    background-color: lightslategray;
    color:white;
}

#add-button:hover {
    background-color:darkslategray;
    border-color: lightslategray;
}

#popout-delete {
    color: white;
    border-color: red;
    background-color: red;
    margin: 0.5em;
    cursor: pointer;
}

#popout-delete-confirm-buttons {
    display:grid;
    grid-auto-flow:column;
    grid-column-gap: 1em;
}

#popout-confirm-yes {
    cursor: pointer;
}

#popout-confirm-yes:hover {
    background-color: darkgreen;
}

#popout-confirm-no {
    cursor: pointer;
}

#popout-confirm-no:hover {
    background-color: darkred;
}